<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulaio de cadastro de Noticia</title>
		</head>
	<body>

		<h1>Adicionar noticia caraleo</h1>
		<br/>

		<form action="/noticias/salvar" method="post">
			<label>TITULO</label>
			<input type="text" name="TITULO" placeholder="titulo da not?ia">
			<br/>
			<label>noticia</label>
			<textarea id="noticia" name="noticia" rows="5" cols="30"> </textarea>
			<br/>
			<input type="submit" value="enviar" name="">
		</form>
	</body>
</html>